:root {
  --headerLight: #2742da;
  --headerDark: #131313;
  --mainLight: #7489fc;
  --mainDark: #383838;
  --seccionLight: #c0c0c0;
  --seccionDark: #686868;
  --letrasLight: #1a1a1a;
  --letrasDark: #dadada;
  --btn: #ffd900;
  --btnHover: #eec10e;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--mainLight);
  transition: all 0.3s ease;
  color: var(--letrasLight);
}

body.tema-oscuro {
  --headerLight: var(--headerDark);
  --mainLight: var(--mainDark);
  --seccionLight: var(--seccionDark);
  --letrasLight: var(--letrasDark);
}

header {
  background-color: var(--headerLight);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header_titulo {
  padding: 0 1rem;
  margin: 0;
}

.header_titulo-texto {
  margin: 0;
  font-size: 2rem;
}

.header_subtitulo {
  margin: 0;
  font-size: 1rem;
}

form {
  display: flex;
  align-items: center;
}

.form_input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  outline: none;
  margin-right: 0.5rem;
  width: 250px;
}

.form_btn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--btn);
  color: black;
  font-weight: bold;
  transition: all 0.3s ease;
}

.form_btn:hover {
  background-color: var(--btnHover);
  transform: scale(1.05);
}

.btn_tema {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  background-color: #914f4f;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
}

.btn_tema:hover {
  background-color: #e04e4e;
  transform: scale(1.05);
}
.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.col {
  background-color: var(--seccionLight);
  border-radius: 8px;
  padding: 1rem;
}

.col h2 {
  margin-top: 0;
}

.col--centro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Ficha */

.pokemon-ficha,
.pokemon-lista {
  background-color: var(--seccionLight);
  padding: 1rem;
  border-radius: 8px;
}

.chip-tipo {
  display: inline-block;
  background-color: var(--btn);
  color: #000;
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  margin: 0.2rem;
  font-size: 0.9rem;
  font-weight: bold;
}

@media (max-width: 1080px) {
  .main {
    grid-template-columns: 1fr;
  }

  .col--centro {
    order: -1;
  }
}

/* Lista */

.lista-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
}

.card-pokemon {
  background: var(--seccionLight);
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
.card-pokemon:hover {
  transform: scale(1.05);
  background: #adefff;
  color: black;
  transition: all 0.3s ease;
  font-weight: bold;
}

.card-pokemon img {
  width: 80px;
  height: 80px;
}

.card-id {
  font-size: 1rem;
}

.paginacion {
  margin-top: 1rem;
  text-align: center;
}
.paginacion button {
  margin: 0.2rem;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 6px;
  background: var(--btn);
  font-weight: bold;
  cursor: pointer;
}
.paginacion button:hover {
  background: var(--btnHover);
}

.btn-fav {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #87a8a6;
  border: none;
  border-radius: 50%;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  display: none;
}

.card-pokemon:hover .btn-fav {
  display: block;
}

/* Lista */

.item-lista {
  padding: 0.5rem;
  margin: 0.3rem 0;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
}
.item-lista:hover {
  background: #f1f1f1;
}
